@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem !important;
  --background: #F9FAFB !important;
  --foreground: #09090b !important;
  --card: #ffffff !important;
  --card-foreground: #09090b !important;
  --popover: #ffffff !important;
  --popover-foreground: #09090b !important;
  --primary: #18181b !important;
  --primary-foreground: #fafafa !important;
  --secondary: #f4f4f5 !important;
  --secondary-foreground: #18181b !important;
  --muted: #f4f4f5 !important;
  --muted-foreground: rgba(106, 114, 130, 1) !important;
  --accent: #f4f4f5 !important;
  --accent-foreground: #18181b !important;
  --destructive: #ef4444 !important;
  --border: rgba(0, 0, 0, 0.1) !important;
  --input: rgba(0, 0, 0, 0.1) !important;
  --ring: #a1a1aa !important;
  --chart-1: rgba(237, 127, 114, 1) !important;
  --chart-2: #2a9d90 !important;
  --chart-3: #274754 !important;
  --chart-4: #e8c468 !important;
  --chart-5: #f4a462 !important;
  --sidebar: #F9FAFB !important;
  --sidebar-foreground: #09090b !important;
  --sidebar-primary: #18181b !important;
  --sidebar-primary-foreground: #fafafa !important;
  --sidebar-accent: #f4f4f5 !important;
  --sidebar-accent-foreground: #18181b !important;
  --sidebar-border: rgba(0, 0, 0, 0.1) !important;
  --sidebar-ring: #a1a1aa !important;
}

.dark {
  --background: #09090b !important;
  --foreground: #fafafa !important;
  --card: #18181b !important;
  --card-foreground: #fafafa !important;
  --popover: #18181b !important;
  --popover-foreground: #fafafa !important;
  --primary: #fafafa !important;
  --primary-foreground: #18181b !important;
  --secondary: #27272a !important;
  --secondary-foreground: #fafafa !important;
  --muted: #27272a !important;
  --muted-foreground: #a1a1aa !important;
  --accent: #27272a !important;
  --accent-foreground: #fafafa !important;
  --destructive: #7f1d1d !important;
  --border: rgba(255, 255, 255, 0.1) !important;
  --input: rgba(255, 255, 255, 0.15) !important;
  --ring: #d4d4d8 !important;
  --chart-1: #2662d9 !important;
  --chart-2: #2eb88a !important;
  --chart-3: #e88c30 !important;
  --chart-4: #af57db !important;
  --chart-5: #e23670 !important;
  --sidebar: #18181b !important;
  --sidebar-foreground: #fafafa !important;
  --sidebar-primary: #3b82f6 !important;
  --sidebar-primary-foreground: #ffffff !important;
  --sidebar-accent: #27272a !important;
  --sidebar-accent-foreground: #fafafa !important;
  --sidebar-border: rgba(255, 255, 255, 0.1) !important;
  --sidebar-ring: #d4d4d8 !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }


  .text-bold-18 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
  }

   .text-bold-16 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
  }

  /* 14px Size - Line Height 24px */
  .text-bold-14 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
  }
  .text-semibold-14 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
  }
  .text-regular-14 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
  }

  /* 12px Size - Line Height 16px */
  .text-bold-12 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
  }
  .text-semibold-12 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
  }
  .text-regular-12 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
  }

  /* 11px Size - Line Height 100% */
  .text-bold-11 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0px;
  }
  .text-semibold-11 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0px;
  }
  .text-regular-11 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0px;
  }
}
